*.d
*.i
*.ii
*.o
*.su
*.s

# project build files
/**/image/
/**/build/

# build info
build_info.h

# toolchain
/**/toolchain/linux/
/**/toolchain/cygwin/
/**/toolchain/darwin/

# menuconfig lxdialog files
/**/lxdialog/
/**/config/*.old

# IAR
*.dep
*.ewt
/**/EWARM-RELEASE/Debug/

project/realtek_amebaD_va0_example/GCC-RELEASE/project_hp/toolchain/asdk/*
project/realtek_amebaD_va0_example/GCC-RELEASE/project_lp/asdk/gnu_utility/gnu_script/acut_loader/flash_loader_ram_1.bin
project/realtek_amebaD_va0_example/GCC-RELEASE/project_lp/asdk/gnu_utility/gnu_script/acut_loader/target_FPGA.axf
project/realtek_amebaD_va0_example/GCC-RELEASE/project_hp/asdk/lib/application/user/
